
  /*--HTML ELEMENTS--*/
  body{
    font-family: sans-serif;
    background-image: url(../images/bg.jpg);
    background-color: black;
  }
  a,#forgot{
    text-decoration: none;
    color: deepskyblue;
  }
  a:hover{
    color:cyan;
  }
  /*--END--*/

  /*--LOGIN BOX--*/
  .loginBox{
    margin-top: 10%;
    margin-bottom: 0%;
    margin-left: 32%;
    margin-right: 32%;
    padding: 50px;
    box-sizing: border-box;
    color: white;
    box-shadow: 0px 0px 20px 2px cyan;
    border-radius: 100px 10px;
    background: rgba(0,0,0,.6);
    border: cyan 1px solid;
  }
  /*--IMAGE--*/
  .user{
    width: 170px;
    height: 170px;
    margin-top: -100%;
  }
  #register {
    margin-top: 10%;
    text-align:center;
    padding: 0;
    color: #fff;
  }
  /*--LOGIN BUTTON--*/
  .loginBox button{
    border: none;
    height: 60px;
    color: white;
    font-size: 16px;
    background: rgb(20,150,120,.6);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: -20px;
    width: 87%;
    text-shadow:3px 2px black;
    border: dotted 1px cyan;
  }
  /*--LOGIN BUTTON (HOVER)--*/
  .loginBox button:hover{
    background: rgb(20,150,120,.5);
    color: cyan;
  }
  /*--LOGIN INPUT BOX--*/
  .loginBox  input{ 
    width: 80%; 
    margin-bottom: 10px; 
    margin-top: 10px;
    background: rgba(130,130,100,0.1);
    padding: 10px;
    font-size: 13px;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    border-bottom: cyan solid 2px;
    box-shadow: 3px 2px white;
  }
  #forgot{
    margin: 0;
    float: left;
    margin-left: 7%;
    font-size: 12px;
    cursor: pointer;
  }
  #forgot:hover{
    color: cyan;
  }
  #login_label{
    color: cyan;
    font-size: 35px;
    font-weight: bolder;
    text-decoration:underline solid cyan 5px;
    text-shadow: 4px 3px maroon;
    box-shadow: 0px 0px 5px 1px cyan;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 83px;
    padding-right: 83px;
    background-color: rgb(0,120,120,.5);
    border-radius: 30px 5px;
    cursor: pointer;
  }
  #login_label:hover{
    transition: .5s;
    text-shadow: 3px 2px deepskyblue;
    background-color: rgb(0,120,120,.6);
    border-radius: 5px 30px;
  }
  #login_input{
    margin-top: 3%;
  }
  /*--END--*/



   

